.center{
    text-align: center;
}

.color_ref1{
    background-color: yellow;
}

.color_ref2{
    background-color: lightgreen;
}

.block_1{
    position: absolute;
    background-color: green;
    padding: 10px;
}

.block_2{
    background-color: yellow;
}